{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        nrepl {:mvn/version "0.6.0"}}

 :paths ["src/main"]

 :aliases { ;; for starting nrepl clj & cljs servers for live development
           :dev {:extra-paths ["src/dev" "resources" "target"]
                 :extra-deps {cider/piggieback {:mvn/version "RELEASE"}
                              com.bhauman/figwheel-main {:mvn/version "RELEASE"}
                              cider/cider-nrepl {:mvn/version "RELEASE"}}
                 :main-opts ["-m" "suitable.nrepl"]}

           ;; build the cljs dev stuff, optional
           :build-cljs {:extra-paths ["resources" "target"]
                        :main-opts ["-m" "figwheel.main" "-b" "fig"]}

           ;; tests
           :test {:extra-paths ["src/test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
                  :main-opts ["-m" "cognitect.test-runner"]}

           ;; build a jar, https://juxt.pro/blog/posts/pack-maven.html
           :pack {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}
                  :main-opts ["-m"]}}}

